---

- name: Install EPEL repo.
  yum: name=epel-release state=present

- name: install my packages
  yum: pkg={{ item }} state=installed
  when: ansible_os_family == 'RedHat'
  with_items:
      - policycoreutils-python
      - iotop
      - yum-plugin-ps
      - yum-cron
      - iptraf
      - acpid
      - man
      - bind-utils
      - vim-enhanced
      - nc
      - zip
      - unzip
      - wget
      - etckeeper
      - links
      - screen
      - yum-utils
      - lsof
      - bash-completion
      - ddrescue
      - dos2unix
      - dstat
      - links
      - smartmontools
      - nmap
      - rng-tools
      - sysstat
      - git
      - htop
      - npm
      - tmux

- name: activate autoupdate
  service: enabled=yes state=started name=yum-cron

- name: initialize etckeeper
  command: /usr/bin/etckeeper init creates=/etc/.git/description

- name: make first commit
  command: /usr/bin/etckeeper commit -m "init" creates=/etc/.git/COMMIT_EDITMSG
